* {
  margin-top: 10px;
}

body {
  display: flex;
  justify-content: center;
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:70%;
}
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;

}
label {
  text-align: center;
}
textarea {
  resize: none;
  width: 95%;
}
.resume-output {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  white-space: pre-wrap; /* Сохраняет переносы строк */
}

.resume-output .added {
  background-color: #d4edda;
  color: #155724;
  padding: 2px 4px;
  border-radius: 3px;
}

.resume-output del {
  text-decoration: line-through;
  color: #dc3545;
  background-color: #f8d7da;
}

.resume-output ins {
  background-color: #d4edda;
  color: #155724;
  text-decoration: none;
  padding: 2px 4px;
}

.resume-output .moved {
  background-color: #fff3cd;
  color: #856404;
  padding: 2px 4px;
  border-radius: 3px;
}
.recommendations-output {
  width:70%;
}